*.pyc
veceval_env/*
data/chunk/scripts/train.txt
data/chunk/train.pickle
data/ner/dev.pickle
data/ner/scripts/dev.txt
data/ner/scripts/train.txt
data/ner/train.pickle
data/nli/dev.pickle
data/nli/scripts/ppdb-sample.tsv
data/nli/train.pickle
data/pos/dev.pickle
data/pos/scripts/en-ptb.map
data/pos/scripts/tagset.txt
data/pos/train.pickle
data/questions/scripts/train.label
data/questions/train.pickle
data/sentiment/dev.pickle
data/sentiment/train.pickle
